.custom-btn-input {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin-right: 10px;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 2px;
  }
}

.custom-input-fill {
  padding-right: 80px;
}
.custom-input-fillCc {
  padding-right: 10px;
}
.cc-input-fill, .bcc-input-fill{
    padding-right: 50px;
}
.cc-input-full, .bcc-input-full{
    padding-right: 10px;
}

.profil-img{
  object-fit: cover;
}

.receiver-mail{
  font-size: 14px ;
}

.inbox-message-content{
  width: 75%;
}



.tooltip_ {
  position: relative;
  display: inline-block;
  cursor:pointer;
}

.tooltip_ .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip_ .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip_:hover .tooltiptext {
  visibility: visible;
}
